<div class="card1 px-0 mb-3 bg-white">
    <div class="card-header px-3 py-3 bg-white">
        <i class="fa fa-paper-plane mr-2"></i>个人空间
    </div>
    <div class="card-body my-2 text-center">
        <h3>Ryancode</h3>
        <p class="fs-15 mb-4">我于杀戮之中盛放，亦如黎明中的花朵</p>
        <div class="row">
            <div class="col">
                <a href="#"><img src="{% static 'img/wechat.png' %}" alt="扫码添加博主的微信"></a>
            </div>
            <div class="col">
                <a href="#"><img src="{% static 'img/github.png' %}" alt="转到博主的github"></a>
            </div>
            <div class="col">
                <a href="#"><img src="{% static 'img/rss.png' %}" alt="订阅博客"></a>
            </div>
        </div>
    </div>
    <div class="card-footer px-3 pt-2 text-center fs-15  bg-white">
        <div class="row">
            <div class="col">
                <p class="card-numbers">123</p>
                <p class="card-font">文章</p>
            </div>
            <div class="col">
                <p class="card-numbers">666</p>
                <p class="card-font">评论</p>
            </div>
            <div class="col">
                <p class="card-numbers">1234</p>
                <p class="card-font">浏览</p>
            </div>
        </div>
    </div>
</div>

<div class="card2 px-0 mb-3">
    <div class="card-header px-3 py-3 bg-white">
        <i class="fa fa-book mr-2 mb-0"></i>文章分类
    </div>
    <div class="card-body mb-2 p-0 ">
        <ul class="list-group list-group-flush fs-15">
            <li class="list-group-item">
                <a href="#">全部文章</a>
                <span class="article-number text-center mr-2">3</span></li>
            <li class="list-group-item">
                <a href="#">数据分析</a>
                <span class="article-number text-center mr-2">6</span></li>
            <li class="list-group-item">
                <a href="#">django开发</a>
                <span class="article-number text-center mr-2">12</span></li>
            <li class="list-group-item">
                <a href="#">数据库</a>
                <span class="article-number text-center mr-2">9</span></li>
            <li class="list-group-item">
                <a href="#">Linux</a>
                <span class="article-number text-center mr-2">0</span></li>
            <li class="list-group-item">
                <a href="#">python爬虫</a>
                <span class="article-number text-center mr-2">5</span></li>
        </ul>
    </div>
</div>

<div class="card3 px-0 mb-3 bg-white">
    <div class="card-header px-3 py-3 bg-white">
        <i class="fa fa-tags mr-2 mb-0"></i>标签云
    </div>
    <div class="card-body fs-15">
        <div class="tags-cloud">
            <a href="#">web开发</a>
        </div>
    </div>
</div>

<div class="card4 px-0 mb-3 bg-white">
    <div class="card-header px-3 py-3 bg-white">
        <i class="fa fa-link mr-2 mb-0"></i>友情链接
    </div>
    <div class="card-body fs-15">
        <div class="friend-link">
            <a href="#">xxx博客</a>
        </div>
    </div>
</div>