<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Ryan Code 个人博客{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap font-awesome -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.0/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- blog css-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block base-files %}{% endblock %}
</head>

<body class="bg-light">
    <!-- 导航栏 -->
    <header class="shadow">
    {% include 'tags/navbar.html' %}
    </header>
    <!--主体-->
    <main class="main-content">
        {% block base_content %}{% endblock %}
    </main>
    <!--尾部-->
    <footer class="container-fluid mt-3 bg-dark">
        <div class="card-body text-center footer-font fs-15">
            <p class="mb-1">Copyright © 2020 Ryancode Powered by Django.</p>
            <p class="mb-1">沪ICP备xxxxxxxxxx号-x | 站长统计 | 网站已续航 xxx 天</p>
        </div>
    </footer>
</body>
</html>