<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Code 个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap font-awesome -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- blog css-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <!-- 导航栏 -->
    {% include 'tags/navbar.html' %}

</body>
</html>