{% extends 'base.html' %}


{% block base-files %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}


{% block base_content %}
    <div class="container px-5">
        <div class="card-body p-0">
            <ol class="breadcrumb border-0 rounded-0 mb-2 py-2">
                <li class="breadcrumb-item font-weight-bold"><i class="fa fa-home mx-2"></i><a href="{% url 'index' %}">
                    首页 </a></li>
                <li class="breadcrumb-item font-weight-bolder"><a href=""> {{ article.category }} </a></li>
                <li class="breadcrumb-item fs-15"> {{ article.title }} </li>
            </ol>
        </div>

        <div class="article-block card-body mb-2 p-4 bg-white">
            <h1 class="card-title text-center font-weight-bold text-info">{{ article.title }}</h1>
            <hr>
            <div class="text-center fs-12">
            <span class="mx-2" data-toggle="tooltip" data-placement="bottom"
                  title="最后编辑于{{ article.update_date }}">{{ article.create_date }}</span>
                <span class="mx-2">阅读 {{ article.views }}</span>
                <a class="mx-2 to-com" href="">评论 6</a>
            </div>
            <div class="article-body mt-4 px-2">
                {{ article.body }}
                <p class="font-weight-bold text-info">
                    <i class="fa fa-bullhorn mx-1"></i>
                    原创文章，转载请注明出处：xxxxxxxxx
                </p>
            </div>
        </div>
    </div>
{% endblock %}